# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Models / Data
models/
data/
*.pt
*.bin
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
